* {
    box-sizing: border-box;
    height: 100%;
  } 
  
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
ul {
 list-style: none;
}


  a{
    text-decoration: none;
  }

  
  .container{
    width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }